main{
	background:lightblue;
  width:30%;
  height:300px;
}

button{
  display:block;
  margin:auto;
}

h1{
  display:block;
  margin:auto;
  text-align:center;
}


h3{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

h3 input{
  margin-left:50px;
  width:150px;
}

button{
  background-color:lightgreen;
}